#
# Fred C.
#
# ---------------

admin_port = {{ ssh_port }}
bak_port = {{ backup_port }}

echolink_node = "{ 192.168.10.24 }"
echolink_port_udp = "{ 5198, 5199 }"
echolink_port_tcp = "{ 5100 }"

# EchoStar
allstar_node2 = "{ 192.168.10.205 }"
allstar_port2 = "{ 4568 }"

# Allstar
allstar_node1 = "{ 192.168.10.206 }"
allstar_port1 = "{ 4569 }"

table <bad_addrs> { 0.0.0.0/8, 127.0.0.0/8, 169.254.0.0/16, 192.0.0.0/24, \
		    192.0.2.0/24, 224.0.0.0/3, 198.18.0.0/15, 198.51.100.0/24, \
		    203.0.113.0/24 }
table <rfc1918> const { 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8 }
table <badguys> persist file "/var/db/badguys.txt"
table <vultr> const { {{ vultr|join(', ') }} }

set block-policy drop
set loginterface egress
set skip on lo0

match in all scrub (no-df random-id max-mss 1440)

block in quick on egress from { <bad_addrs>, <rfc1918>, <badguys> } to any
block return out quick on egress from any to { <bad_addrs>, <rfc1918>, <badguys> }

antispoof quick for { egress }

match out on egress inet from !(egress:network) to any nat-to (egress:0)

block all
pass out quick inet

# EchoLink
pass in quick on egress proto udp from any to egress port $echolink_port_udp rdr-to $echolink_node
pass in quick on egress proto tcp from any to egress port $echolink_port_tcp rdr-to $echolink_node

# AllStar nodes
pass in quick on egress inet proto udp from any to (egress:0) port $allstar_port1 rdr-to $allstar_node1
pass in quick on egress inet proto udp from any to (egress:0) port $allstar_port2 rdr-to $allstar_node2

# Incoming ssh traffic
pass in quick on egress proto tcp from any to egress port $admin_port
pass in quick on egress proto tcp from <vultr> to egress port $bak_port rdr-to 192.168.10.213 port 22

pass out quick on egress from (private:network) to any keep state
pass in quick on { egress, private } inet
