--------------------------------------------------------------------------------
Name..: {{ ansible_nodename }}
OS....: {{ ansible_os_family }} {{ ansible_distribution_release }} {{ ansible_distribution_version }}
IP:...: {{ ansible_default_ipv4.address }}
--------------------------------------------------------------------------------
