#	$OpenBSD: sshd_config,v 1.97 2015/08/06 14:53:21 deraadt Exp $

Port {{ ssh_port }}
Protocol 2

# Authentication:
# AuthenticationMethods	publickey, password
AuthorizedKeysFile	.ssh/authorized_keys

PermitRootLogin no

UsePrivilegeSeparation sandbox		# Default for new installations.

ClientAliveInterval 300
ClientAliveCountMax 3

Banner /etc/banner

Match User ansible
      AuthenticationMethods publickey
      Banner none
